{% extends 'master/header.html' %}
{% load static %}

{% block content %}
<h2 class="mb-4 text-center text-primary">Approved Patients</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center">No</th>
                            <th class="text-center">Full Name</th>
                            <th class="text-center">Address</th>
                            <th class="text-center">Contact</th>
                            <th class="text-center">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>
                                <strong>{{ patient.name }}</strong>
                            </td>
                            <td>
                                {{ patient.address }}
                            </td>
                            <td>
                                <strong>{{ patient.phone }}</strong>
                            </td>
                            <td>
                                <small><i class="fas fa-envelope"></i> {{ patient.email }}</small>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-warning bg-dark m-3">
                                <h3>No approved patients available..!</h3>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
